<a class="name col-lg-4 col-md-12" href='http://{{website}}' target='_blank'>{{name}}</a>
<a class="col-lg-4 col-md-12" href="http://maps.google.com/?q={{Location}}+{{city}}+{{countryName}}" target='_blank'>{{Location}}, {{country}}
<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</a>

<a class="col-lg-4 col-md-12" href='http://{{website}}' target='_blank' >{{website}} 🔗</a>




