<a href='http://{{website}}' target='_blank'>{{name}}</a>

(
<a href="http://maps.google.com/?q={{Location}}+{{city}}+{{countryName}}" target='_blank'>

{{Location}}, {{city}}, {{country}}

</a>


)
<a href='http://{{website}}' target='_blank'>{{website}}</a>


