<h3><a href='http://{{website}}' target='_blank'>{{name}}</a> ({{country}})</h3>
<p>{{Location}}</p>
<hr/>
<ul>
  {{#if publisher}} <li>publisher</li> {{/if}}
  {{#if distributor}} <li>distributor</li> {{/if}}
  {{#if bookShop}} <li>bookShop </li> {{/if}}
  {{#if collection}} <li>collection</li> {{/if}}
  {{#if artSpace}} <li>artSpace</li> {{/if}}
  {{#if research}} <li>research</li> {{/if}}
  {{#if website}} <li>website </li> {{/if}}
  {{#if blogInfo}} <li>blogInfo </li> {{/if}}
  {{#if fair}} <li>fair</li> {{/if}}
</ul>

<hr/>

<p><a href='{{link}}' target='_blank'>{{link}}</a></p>
